.Abackground {
    background-image: url('homepage.png'), linear-gradient(to bottom, rgba(157, 14, 14, 0), #4f0707);
    height: 248px;
    width: 95%;
    background-size: cover;
    background-position-y: 50%;
    margin-top: 3%;
}

.text-centerAcc {
    position: absolute;
    top: 16%;
    left: 107%;
    font-size: 41px;
    color: white;
}

.logoAcc {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    width: 48px;
    height: 48px;
    top: 6px;
    background-color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    padding: 2px 4px 9px 11px;
    margin-left: 79px;
    color: #eb2929;
    text-decoration: none;
}

.Acclogo {
    position: absolute;
    background: white;
    top: 28%;
    color: #eb2929;
    left: 11%;
    width: 120px;
    text-align: center;
    height: 120px;
    border-radius: 50%;
    font-size: 41px;
    padding-top: 30px;
}

.email-div {
    font-size: 20px;
    color: #bababa;
    MARGIN: -20PX 0PX 0PX 134px;
}

.shadowA {
    width: 100%;
    height: -moz-fit-content;
    border-radius: 25px;
    margin: 20px 0px 38px 0px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #ffffff;
    margin-left: 40px;
}

.resName {
    padding: 10px 10px 16px 10px;
    margin: 10px 0px 0px 10px;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.headA {
    margin-left: 70px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.itemName {
    font-size: 21px;
    margin-left: 10px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.ord-div {
    margin-left: 30px;
}

.lineA {
    width: 97%;
}

.navibtn {
    display: inline-block;
    margin-left: 300px;
}

.subt {
    display: inline-block;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    padding: 10PX 15PX 31PX 72PX;
}

.Yord {
    margin: 10px 11px 10px 74px;
    color: #eb2929;
    padding-bottom: -2px;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

@media only screen and (max-width: 600px) {
    .text-centerAcc {
        position: absolute;
        top: 16%;
        left: 107%;
        font-size: 31px;
        color: white;
    }
    .Acclogo {
        position: absolute;
        background: white;
        top: 28%;
        color: #eb2929;
        left: 11%;
        width: 90px;
        text-align: center;
        height: 90px;
        border-radius: 50%;
        font-size: 37px;
        padding-top: 17px;
    }
    .email-div {
        font-size: 20px;
        color: #bababa;
        MARGIN: -20PX 0PX 0PX 109px;
    }
    .shadowA {
        width: 89%;
        height: -moz-fit-content;
        border-radius: 25px;
        margin: 20px 0px 38px 0px;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
        background-color: #ffffff;
        margin-left: 40px;
    }
    .subt {
        display: inline-block;
        font-size: 21px;
        margin-left: 10px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
        padding: 10PX 15PX 31PX 38PX;
    }
    .navibtn {
        display: inline-block;
        margin-top: -62px;
        margin-left: 230px;
    }
    .logoAcc {
        background-color: white;
        border-radius: 50%;
        position: absolute;
        width: 48px;
        height: 48px;
        top: 6px;
        background-color: #ffffff;
        font-size: 32px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.52;
        letter-spacing: normal;
        padding: 2px 4px 9px 11px;
        margin-left: 26px;
        color: #eb2929;
        text-decoration: none;
    }
}