.tabs {
    position: relative;
    min-height: 200px;
    clear: both;
    margin: 10px 10px 10px 29px;
    margin: 50px 0 25px;
    background: white;
}

.payheading {
    width: 298px;
    height: 43px;
    MARGIN: 10px 10px 10px 29px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.payitem-total {
    width: 210px;
    height: 31px;
    margin: 8px 41px 11px 31px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #292c40;
}

.payitem-name {
    width: 210px;
    height: 31px;
    margin: 8px 0px 11px 0px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #292c40;
}

.de_img {
    width: 90%;
    margin: 14px 13px 11px 58px;
}

.tab {
    float: left;
}

.tab label {
    background: white;
    padding: 2px 15px 2px 15px;
    border: 1px solid white;
    margin-left: -1px;
    position: relative;
    left: 45px;
    top: -33px;
}

.tab [type=radio] {
    display: none;
}

.modal-div {
    position: absolute;
    z-index: -2;
}

.add-button {
    position: absolute;
    top: 73%;
    left: 78%;
    width: 62px;
    height: 34px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.30);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #61b246;
}

.add-number {
    position: absolute;
    top: 73%;
    color: #61b246;
    left: 78%;
    width: auto;
    height: 29px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.30);
    background-color: #fff;
}

.content {
    position: absolute;
    top: -1px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border-top: 1px solid gray;
    opacity: 0;
}

[type=radio]:checked~label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 0;
}

[type=radio]:checked~label~.content {
    z-index: 0;
    opacity: 1;
}

.button {
    position: absolute;
    left: 68%;
    color: #192f60;
    margin: 74px 22px 12px 0px;
    top: 46%;
    width: 200px;
    height: 35px;
    opacity: 0.6;
    border-radius: 3px;
    background-color: #ffffff;
}

.order-button {
    position: absolute;
    left: 66%;
    top: 9%;
}

.Hheader {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.heading {
    width: 298px;
    height: 43px;
    MARGIN: 10px 10px 10px 59px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.about {
    width: 181px;
    height: 31px;
    margin: 10px 10px 10px 29px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.head {
    height: 25px;
    font-family: Poppins;
    margin: 10px 10px 10px 29px;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.value {
    height: 30px;
    font-family: Poppins;
    margin: 10px 10px 10px 29px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.btn-order {
    float: right;
    width: 210px;
    margin-bottom: 5px;
    height: 40px;
    border-radius: 6px;
    background-color: #ce0505;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-right: 94px;
}

.modal_div {
    width: 660px;
    height: 707px;
    margin: 53px 7px 49px 130px;
    padding: 23.5px 0 0;
    border-radius: 6px;
    background-color: #fff;
}

.item-total {
    width: 210px;
    height: 31px;
    margin: 8px 41px 11px 0;
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #292c40;
}

.item-descp {
    width: 363px;
    margin-left: 1px;
    font-size: 15px;
}

.close_btn {
    float: right;
    margin: 5px;
}

.title-img {
    height: 80px;
    width: 80px;
    margin: 5px 10px 10px 0px;
    border-Radius: 20px;
}

.Name {
    width: 55px;
    height: 23px;
    margin: 13px 350px 9px 5px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.rect-box {
    width: 660px;
    height: 80px;
    margin: 77px 0 0;
    padding: 15px 54px 15px 466px;
    background-color: #f5f8ff;
}

.text-area {
    height: 100px;
}

.PROCEED {
    width: 100px;
    height: 35px;
    margin: 10px 10px 0px 0px;
    float: right;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff;
    margin-bottom: 16px;
}

.carl {
    width: 100%;
    height: 100%;
    background-color: black;
}

.carl_img {
    width: 60%!important;
    height: 533px;
    margin: 10px;
}

.carousel .carousel-status {
    position: absolute;
    top: 0px!important;
    right: 67px !important;
    padding: 5px;
    font-size: 13px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 90%);
    color: #fff;
}

.close-btn {
    float: right;
    margin-right: 31px;
    margin-top: 10px;
    font-size: 30px;
    color: white;
}

.close-btnP {
    float: right;
    margin-right: 10px;
    margin-top: -3px;
    font-size: 22px;
    /* color: white; */
}

.close-btnF {
    float: right;
    margin-right: 20px;
    margin-top: 11px;
    font-size: 22px;
    /* color: white; */
}

@media only screen and (max-width: 600px) {
    .button {
        position: absolute;
        left: 52%;
        color: #192f60;
        margin: 74px 22px 12px 0px;
        top: 53%;
        width: 200px;
        height: 35px;
        opacity: 0.6;
        border-radius: 3px;
        background-color: white;
    }
    .de_img {
        width: 95%;
        margin: 14px 13px 11px;
    }
    .carl {
        width: 100%;
        height: 100%;
        background-color: black;
    }
    .carl_img {
        width: 80%!important;
        height: 333px;
        margin: 10px;
    }
    .close-btn {
        float: right;
        margin-right: 23px;
        margin-top: 10px;
        font-size: 20px;
        color: white;
    }
    .carousel .carousel-status {
        position: absolute;
        top: 0px!important;
        right: 67px !important;
        margin-top: 18px;
        font-size: 13px;
        text-shadow: 1px 1px 1px rgb(0 0 0 / 90%);
        color: #fff;
    }
    .value {
        height: 30px;
        font-family: Poppins;
        margin: 10px 10px 10px 29px;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
    }
    .btn-order {
        float: right;
        width: 150px;
        height: 31px;
        border-radius: 6px;
        background-color: #ce0505;
        font-family: Poppins;
        font-size: 13px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        margin-right: 30px;
    }
    .head {
        height: 25px;
        font-family: Poppins;
        margin: -2px 10px 10px 10px;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
    }
    .about {
        width: 181px;
        height: 31px;
        margin: 10px 10px 10px 10px;
        font-family: Poppins;
        font-size: 22px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
    }
    .modal_div {
        width: 660px;
        height: 707px;
        margin: 53px 7px 49px 130px;
        padding: 23.5px 0 0;
        border-radius: 6px;
        background-color: #fff;
    }
    .item-total {
        width: 210px;
        height: 31px;
        margin: 8px 41px 11px 0;
        font-family: Poppins;
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #292c40;
    }
    .item-descp {
        width: 263px;
        margin-left: 1px;
        font-size: 11px;
    }
    .item-name {
        display: inline-block;
    }
    .item-price {
        width: fit-content;
        margin-left: 0px;
        font: -webkit-small-control;
    }
    .close_btn {
        float: right;
        margin: 5px;
    }
    .card-body {
        width: 440px;
        height: 147px;
    }
    .title-img {
        height: 80px;
        width: 80px;
        position: absolute;
        top: 6%;
        left: 75%;
        float: right;
        margin: 5px 10px 10px 0px;
        border-Radius: 20px;
    }
    .heading {
        width: 298px;
        height: 43px;
        MARGIN: 10px 10px 10px 28px;
        font-family: Poppins;
        font-size: 30px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.53;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
    }
    .tab label {
        background: white;
        padding: 2px 15px 2px 15px;
        border: 1px solid white;
        margin-left: -1px;
        position: relative;
        left: 14px;
        top: -33px;
    }
    .add-button {
        position: absolute;
        top: 67%;
        left: 77%;
        width: 62px;
        height: 34px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.30);
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.53;
        letter-spacing: normal;
        text-align: left;
        color: #61b246;
    }
    .add-number {
        position: absolute;
        top: 65%;
        left: 75%;
        width: 79px;
        height: 29px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.30);
        background-color: #fff;
    }
}