* {
    margin: 0px auto;
    box-sizing: border-box;
}

.Hboxes {
    margin-left: 15px;
}

.Hdrop {
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #636f88;
}

.Hbackground {
    background-image: url('homepage.png'), linear-gradient(to bottom, rgba(157, 14, 14, 0), #4f0707);
    height: 480px;
    background-size: cover;
    background-position-y: 50%;
}

.Hlogo {
    display: inline;
    width: 147px;
    height: 147px;
    color: red;
    background-color: white;
    border-radius: 51%;
    font-size: 52px;
    padding: 23px 40px 24px 39px;
}

.Hheading {
    width: 100%;
    height: 51px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
}

.Hloc-search {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    -webkit-appearance: none;
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #636f88;
}

.Hresturunt {
    padding-left: 40px;
    margin: 0px 10px 0px 0px;
    width: 100%;
    border: none;
    height: 40px;
    background-color: #ffffff;
}

.Hicon-search {
    position: absolute;
    margin: 12px;
    width: 17px;
    height: 17px;
    opacity: 0.97;
    color: #74819e;
}

.Hquick {
    margin-top: 4%!important;
    height: 43px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    color: #192f60;
}

.Hdiscover {
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
}

.Hshadow-box {
    width: 322px;
    height: 160px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin: 10px;
}

.Hitem-left {
    display: inline-block;
    width: 40%;
    height: 100%;
}

.Hitem-right {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
}

.Hheader {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.Hdescription {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
}

@media only screen and (max-width: 600px) {
    .Hlogo {
        display: inline-block;
        width: 80px;
        height: 72px;
        margin-top: 28px;
        color: red;
        background-color: white;
        border-radius: 51%;
        font-size: 39px;
        padding: 7px 19px 10px 19px;
    }
    .Hshadow-box {
        width: 330px;
        text-align: center;
        height: 160px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin: 10px 10px 10px 30px;
    }
    .Hloc-search {
        width: 99%;
        height: 40px;
        margin-left: 5px;
        background-color: #ffffff;
        -webkit-appearance: none;
    }
    .Hresturunt {
        padding-left: 45px;
        margin: 0px 20px 0px 5px;
        width: 99%;
        border: none;
        height: 40px;
        background-color: #ffffff;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .Hshadow-box {
        width: 310px;
        height: 160px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin: 20px!important;
        align-items: center;
    }
    .Hafter-img {
        margin-left: 40px;
    }
    .Hitem-left {
        display: inline-block;
        width: 40%;
        height: 100%;
    }
    .Hitem-right {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        padding-top: 10px;
        padding-left: 10px;
    }
    .Hheader {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
    }
    .list-lab {
        width: 477px;
        height: 236px;
        margin: 404px 311px 182px 105px;
        padding: 19px 13.5px 24px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff!important;
    }
    #imgs {
        border-radius: 50px;
        padding: 3px;
        margin-right: 11px;
    }
    .Hdescription {
        font-family: Poppins;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #8c96ab;
    }
}